*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button:focus{
    outline: none;
    border: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #434353;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: 0.7s all ease;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: #434353;
    z-index: 8;
    padding: 10px 70px;
}
.navbar .navbar-toggler{
    color:#fff;
    font-size:24px;
}
.navbar .navbar-nav .nav-item .nav-link{
    color:#fff;
    font-size:16px;
}
.question_section{
    margin-top:20vh;
}
.question_section .heading{
    text-align:center;
    font-weight: 600;
    color:#fff;
    margin-bottom: 25px;
}
.question_card{
    max-width:760px;
    display: block;
    margin: 10px auto;
}
.question_card.card{
    padding: 45px 35px 45px 20px;
}
.question-block{
    padding-bottom: 45px;
    position: relative;
    margin-bottom: 40px;
}
.question-block::after{
    content: '';
    background: #ddd;
    height: 1px;
    width: 105%;
    position: absolute;
    display: block;
    bottom: 0;
    left: -10px;
}
.question-block:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
}
.question-block:last-child::after{
    display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #5fa4a2;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22x);
    transform: translateX(22px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.review--btn{
    background: #5FA4A2;
    border-radius: 25px;
    border:none;
    outline:none;
    display: block;
    margin: 0 auto;
    padding: 10px 47px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 16px;
}
.review--btn:disabled{
    background: #C6C6C6;
    color: #fff;
    cursor:not-allowed;
}
.text--grey{
    color: #CDCDCD;
    font-size:16px;
    font-weight: 600;
}
.question{
    font-weight:700;
    font-size:22px;
    margin-bottom: 12px;
}
.question--btn{
    color:#5FA4A2;
    background: none;
    border:none;
    outline: none;
    font-size:18px;
}
.custom--select{
    min-width: 281px;
    margin-left: 55px;
}
.add--question{
    margin-top: 42px;
    margin-left: 18px;
    display: flex;
    align-items:center;
    border:none;
    background: transparent;
    margin-bottom:30px;
    color: #5FA4A2;
    font-size:16px;
    font-weight: 600;
}

.add--question:disabled{
    color:#CDCDCD;
    cursor: not-allowed;
}
.custom--select .list{
    width: 100%;
}
.question--input.form-control{
    border-color: #e8e8e8;
}
.question--input.form-control:focus{
    border-color: #999;
    box-shadow: none;
}
.modal-header{
    justify-content: center;
}
.modal-header,.modal-footer{
    border:none;
}
.modal-header .close{
    position: absolute;
    top: 23px;
    right: 34px;
    font-size: 28px;
    margin: 0;
    padding: 0;
    transition: 0.3s all ease;
}
.modal-header .close:hover{
    color:#dc3545;
}
.modal-body h4{
   font-size:16px; 
   font-weight:700;
   margin-bottom: 3px;
}
.modal-body p{
    font-size: 16px;
    margin-bottom:20px;
}
.modal-content{
    padding: 18px;
}
.alert--select{
    color: #AEAEAE;
    font-size:14px;
    padding-left: 55px;
    display: none;
}


.modal-actions .review--btn{
    padding:12px 85px;
    background: #5FA4A2;
}
.modal--arrow{
    position:absolute;
    top: 40px;
    left: 35px;
}
.numeric_selected--row{
    display: none;
    margin-top:25px;
    margin-bottom: 25px;
}
.numeric_selected--row .numeric--scale{
    background: #ebebeb38;
    margin-bottom: 10px;
}
.numeric_selected--row .scale{
    border:1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0;
    color: #C0C0C0;
}
.numeric_scale--input-lable input.form-control{
    font-size:14px;
}

.numeric_scale--input-lable input.form-control:focus{
    border-color: #999;
    box-shadow: none;
}
.numeric_scale--input-lable input.form-control::placeholder{
    font-size: 12px;
}
.single_choice--row{
    display: none;
}
.single_choice--container{
    margin-top:20px;
}
.single_choice--container .single--choice{
    margin-bottom:8px;
}
.single_choice--container .single--choice:last-child{
    margin-bottom:0;
}
.add--choice{
    margin-top: 20px;
    display: flex;
    align-items:center;
    border:none;
    background: transparent;
    margin-bottom:30px;
    color: #5FA4A2;
    font-size:16px;
    font-weight: 600;
}
.multiple_choice--row{
    display: none;
}
footer{
    color:#fff;
    padding: 80px 80px 40px;
    margin-top:80px;
    position:relative;
}
footer h3{
    font-size:18px;
    font-weight: 600;
}
footer p{
    font-size:16px;
}
footer a{
    font-size:16px;
    color:#fff;
    display: block;
    text-decoration: none;
}
footer a:hover{
    color:#fff;
}
.footer-copy{
    margin-top:80px;
}
.blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 309px;
    background-image: linear-gradient(to bottom, #2e2e3a , #434353);
}
.question--delete{
    background: #f3f3f3;
    border: none;
    padding: 2px 8px;
    margin-left: 12px;
    margin-bottom: 8px;
}
@media (max-width: 411px){
    .navbar{
        padding: 10px 15px;
    }
    footer{
        padding: 80px 20px 40px;
    }
    .socials{
        justify-content: flex-start!important;
    }
    .question_section .heading{
        font-size: 25px;
    }
    .question_section {
        margin-top: 15vh;
        padding: 0 10px;
    }
    .footer-copy {
        margin-top: 50px;
    }
    .question_card.card {
        padding: 45px 22px 45px 8px;
    }
    .arrow-icon{
        height:14px;
    }
    .custom--select {
        min-width: 281px;
        margin-left: 30px;
    }
    .add--question {
        margin-left: 0;
    }
    .alert--select {
        padding: 9px 40px 0px 46px;
    }
    .numeric--scale, .single_choice--container,
    .numeric_scale--input-lable{
        max-width: 283px;
    }
    .numeric_scale--input-lable .offset-md-3{
        margin-top:10px;
    }
    .question {
        font-size: 18px;
        margin-top:3px;
    }
    .add--question {
        margin-top: 18px;
    }    
}

@media (max-width: 375px){
    .numeric--scale, .single_choice--container,
    .numeric_scale--input-lable{
        max-width: 272px;
    }
    .custom--select {
        min-width: 278px;
        margin-left: 25px;
    }
}